<div>
  <span><i>P</i></span>
  <span><i>R</i></span>
  <span><i>A</i></span>
  <span><i>C</i></span>
  <span><i>T</i></span>
  <span><i>I</i></span>
  <span><i>C</i></span>
  <span><i>A</i></span>
  <span></span>
  <span><i>2</i></span>
  <span></span>
  <span><i>-</i></span>
  <span></span>
  <span><i>D</i></span>
  <span><i>O</i></span>
  <span><i>C</i></span>
  <span><i>K</i></span>
  <span><i>E</i></span>
  <span><i>R</i></span>
  <span></span>
  <br>
  <br>
  <br>
  <span><i>G</i></span>
  <span><i>A</i></span>
  <span><i>B</i></span>
  <span><i>R</i></span>
  <span><i>I</i></span>
  <span><i>E</i></span>
  <span><i>L</i></span>
  <span><i>A</i></span>
  <span></span>
  <span><i>R</i></span>
  <span><i>A</i></span>
  <span><i>Y</i></span>
  <span><i>M</i></span>
  <span><i>U</i></span>
  <span><i>N</i></span>
  <span><i>D</i></span>
  <span><i>O</i></span>
  <span></span>
  <span></span>
  <span></span>
  <br>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span><i>2</i></span>
  <span><i>0</i></span>
  <span><i>1</i></span>
  <span><i>5</i></span>
  <span><i>0</i></span>
  <span><i>0</i></span>
  <span><i>3</i></span>
  <span><i>3</i></span>
  <span><i>2</i></span>
  <br>
  <br>
  <br>
  <span><i>L</i></span>
  <span><i>U</i></span>
  <span><i>I</i></span>
  <span><i>S</i></span>
  <span></span>
  <span><i>A</i></span>
  <span><i>R</i></span>
  <span><i>A</i></span>
  <span><i>N</i></span>
  <span><i>A</i></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <br>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span><i>2</i></span>
  <span><i>0</i></span>
  <span><i>1</i></span>
  <span><i>7</i></span>
  <span><i>0</i></span>
  <span><i>0</i></span>
  <span><i>9</i></span>
  <span><i>8</i></span>
  <span><i>8</i></span>
  <br>
  <br>
  <br>
  <span><i>P</i></span>
  <span><i>A</i></span>
  <span><i>R</i></span>
  <span><i>E</i></span>
  <span><i>J</i></span>
  <span><i>A</i></span>
  <span></span>
  <span><i>N</i></span>
  <span><i>O</i></span>
  <span><i>.</i></span>
  <span><i>1</i></span>
  <span><i>3</i></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <br>
  <span><i>S</i></span>
  <span><i>O</i></span>
  <span><i>F</i></span>
  <span><i>T</i></span>
  <span><i>W</i></span>
  <span><i>A</i></span>
  <span><i>R</i></span>
  <span><i>E</i></span>
  <span></span>
  <span><i>A</i></span>
  <span><i>V</i></span>
  <span><i>A</i></span>
  <span><i>N</i></span>
  <span><i>Z</i></span>
  <span><i>A</i></span>
  <span><i>D</i></span>
  <span><i>O</i></span>
  <span></span>
  <span><i>B</i></span>
  <span></span>
  <br>
  <span></span>
</div>

